/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');

:root {
    --font: 'Exo 2', sans-serif;
    --bg-color: #000; /* Pure black background */
    --text-color: #ffeb3b; /* Vibrant yellow text color */
    --accent-color: #ffeb3b  ; /* Yellow accent color */
    --button-bg: #0d0d3a ; /* Blue button background */
    --button-text: #fff; /* White text on buttons */
    --button-hover-bg: #2F2F2F ; /* Lighter blue on hover */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: none; /* Remove background image in dark mode */
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    font-family: var(--font);
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    box-shadow: 0 6px 10px #000;
}

#userName {
    text-shadow: 0 1.5px 10px var(--text-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#links {
    max-width: 675px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 27px auto;
    flex-wrap: wrap;
    gap: 10px;
}

.link {
    color: var(--button-text);
    background-color: var(--button-bg);
    font-family: var(--font);
    text-align: center;
    padding: 20px;
    width: 45%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accent-color) 2px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.link:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-text);
    border-bottom-color: var(--accent-color); 
}
.footer {
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
}

.footer a {
    text-decoration: none;
    box-shadow: 0 4px 10px #000;
    color: var(--text-color);
}

.circulo {
    background: #333;
    border-radius: 10px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
}

.circulo:hover {
    background: var(--accent-color);
    color: var(--button-text);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

@media (max-width: 768px) {
    #links {
        justify-content: center;
        gap: 10px;
    }
    .link {
        width: 48%;
        margin-bottom: 20px;
    }
}
